# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# custom
.github
CREDITS.txt
changelog.txt
# *.bat
# *gradlew*
# gradle.properties
# build.gradle
# src/test/
# src/generated/

# Files from Forge MDK
forge*changelog.txt
