# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# custom
*.bat
*gradlew*
gradle.properties
build.gradle
CREDITS.txt
changelog.txt
src/test/
src/generated/

# Files from Forge MDK
forge*changelog.txt
